name: Build Packages

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux/archlinux:latest
      options: --privileged  # для некоторых пакетов может понадобиться

    steps:
      - uses: actions/checkout@v4

      - name: Install base dependencies
        run: |
          pacman -Syu --noconfirm base-devel git sudo
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
          chown -R builder:builder /__w/repo/repo/sources || chown -R builder:builder sources

      - name: Build packages
        run: |
          ls

          cd sources
          for pkgdir in */; do
            [ -f "$pkgdir/PKGBUILD" ] || continue
            echo ">>> Building ${pkgdir%/}"
            cd "$pkgdir"
            sudo -u builder makepkg -sCf --noconfirm || {
              echo "!!! FAILED: ${pkgdir%/}"
              exit 1
            }
            cd ..
          done
        shell: bash

      - name: Collect artifacts
        run: |
          mkdir -p packages/QuasarLinux/x86_64
          find sources -name "*.pkg.tar.zst" -exec cp {} packages/QuasarLinux/x86_64/ \;
          cd packages/QuasarLinux/x86_64
          repo-add quasar.db.tar.gz *.pkg.tar.zst

      - name: Upload repository
        uses: actions/upload-artifact@v4
        with:
          name: quasar-repo-x86_64
          path: packages/QuasarLinux/x86_64/
          retention-days: 7
